.recognition-header {
  margin: 10px 0;
  border: 2px solid #aaaaaa;
  border-radius: 4px 4px 0px 0px;
}

.recognition-header ul li a {
  padding: 1rem 1rem;
  border-bottom: 3px solid transparent;
}

.recognition-header ul li a.nav-link {
  color: #111111;
}

.recognition-header ul li > a.active {
  color: #074ee8;
  border-bottom: 3px solid #074ee8;
}

.recognition-header ButtonGroup {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  margin-left: auto;
}

.recognition-header ButtonGroup button {
  background-color: white;
  font-size: 16px;
  color: #074ee8;
}

.post-container {
  width: 100%;
}

.one-post {
  margin: 10px 0;
  border: 2px solid #aaaaaa;
  border-radius: 10px;
  overflow: hidden;
}

.post-tags {
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
}

.list-group-item {
  padding-top: 0;
  padding-bottom: 0.3rem;
  padding-right: 1rem;
  padding-left: 0;
}

.list-group-horizontal {
  border-top: None !important;
  justify-content: flex-end;
}
