.profile-header {
  margin-bottom: 8rem;
}

.profile-header-info p {
  margin-top: 5px;
}

/* --------- header-cover --------- */
.profile-header-cover {
  height: 15rem;
  border-bottom: 2px solid #000000;
}

.profile-header-cover p {
  margin-top: 10px;
  text-align: right;
}

/* -------- header-avatar ------------ */
.profile-header-avatar {
  margin-left: 3.5rem;
  margin-top: -10rem;
  float: left;
  /* width: 12.5rem; */
}

.profile-header-avatar p {
  float: right;
  margin-left: 1rem;
  margin-top: 3.5rem;
  font-size: 50px;
}

.profile-position {
  margin-left: -19rem;
  float: left;
}

.profile-contact {
  float: right;
  text-align: right;
}

.profile-content {
  min-height: 1000px;
}

/* -------- reports ------------ */
.one-report {
  margin: 10px 0;
  border: 2px solid #aaaaaa;
  border-radius: 10px;
  overflow: hidden;
}
.report-button-container {
  margin-top: 8px;
}
.report-button {
  margin-right: 8px;
}