/* -------- reports ------------ */
.one-report {
  margin: 10px 0;
  border: 2px solid #aaaaaa;
  border-radius: 10px;
  overflow: hidden;
}

.reaction-tags {
  margin-bottom: 1rem;
}

.one-report hr {
  clear: both;
  margin-bottom: 1rem;
}

.report-button-container {
  margin-top: 8px;
}

.report-button {
  margin-right: 8px;
}

.report-reason {
  border-top: 2px solid #aaaaaa;
  padding-top: 10px;
  margin-top: 4rem;
}

.card-padding {
  padding-bottom: 1.25rem;
}
